<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authentification</title>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
<body>
  <div class="container-title">
    <h1>Training Authentification</h1>
    <p>This exercise allows for secure connection to our account using a hashed password and an access token stored in a cookie, in order to protect the user as much as possible from a potential attack</p>
  </div>
  <div class="container-exercise">
      <div class="admin">
        <h1>Hi <%= username %>!</h1>
        <p>This content is protected</p>
        <button id="button-back-web">Back to your account page</button>
      </div>
  </div>
  <script src="/js/script.js"></script>
</body>
</html>